<h1>Listing keywords</h1>

<%= paginate @keywords %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Metaphone</th>
      <th>Stem</th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= keyword.name %></td>
        <td><%= keyword.metaphone %></td>
        <td><%= keyword.stem %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
