<div class="row search">
  <div class=" small-12 columns">
    <div class="row collapse">
      <h1>Science Fiction Bookshelf</h1>
      <%= render partial: "search/form" %>
    </div>
  </div>
</div>
