// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* SEARCH RESULTS */

.results {
  margin-top: 50px;
}

.results .search-results {
  margin-top: 40px;
  margin-bottom: 20px;
}

.results img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

/* NEW SEARCH FORM */

/* Styles for search dropdown */
.search {
  position: relative;
  padding-top: 41px;
  margin-bottom: 0;
}
.search input {
  padding-left: 40px;
}

.search .search-field {
  height: 50px;
}
